<h4>AuditChain Token Purchase Agreement</h4>
<p>Please review and confirm the AuditChain Token Purchase Agreement to proceed with the AuditChain Token Sale.</p>
<div class="terms-text">
      <%= render 'terms-text', term_agreement: @term_agreement %>
</div>
<%= render 'form', term_agreement: @term_agreement %>
