<div class="section-content row ">
  <div class="columns entry-title coll-hide-title">
    <h2 class="title" style="color: #fff">The Team</h2>
    <h4 class="subtitle" style="color: #fff"></h4>
  </div>
  <div class="entry-content columns">
    <p>&nbsp;</p>
    <h2 style="text-align: center;">
      <span style="color: #ffffff;">Team</span>
    </h2>
    <p>&nbsp;</p>
    <div class="coll-shortcode-team row ">
      <article id="jason-meyers" class="post-884 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/09/jason-meyer-150x150.jpg" alt="Jason Meyers"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Jason Meyers</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Co-Founder</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/jason-meyers/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/jason-meyers-91a9693/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="paul-ostling" class="post-1618 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Paul-Ostling-profile-150x150.jpg" alt="Paul Ostling"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Paul Ostling</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Regulatory and Government Affairs</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/paul-ostling/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/paul-ostling-393b9410/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="eric-e-cohen" class="post-1721 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/11/eric-cohen-1-150x150.jpg" alt="Eric E. Cohen"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Eric E. Cohen</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Director of XBRL Architecture</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/eric-e-cohen/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/eric-cohen-53180b13/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="rimas-vaitauskas" class="post-1512 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Rimas-Vaitaouskas-1600x1188-150x150.jpg" alt="Rimas Vaitauskas"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Rimas Vaitauskas</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Strategic Development, Accounting and Assurance</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/rimas-vaitauskas/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/kdsu875qldi854ae94543arhydkd3/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="charles-hwang" class="post-1379 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/09/Charles-Hwang-headshot-150x150.jpg" alt="Charles Hwang"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Charles Hwang</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Business Development</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/charles-hwang/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/charleshwang/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="touradj-ebrahimi" class="post-1575 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Touradj-Ebrahimi-2-150x150.jpg" alt="Touradj Ebrahimi"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Touradj Ebrahimi</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Director</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/touradj-ebrahimi/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/touradjebrahimi/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="georges-medawar" class="post-1584 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Georges-Medawar-2-150x150.jpg" alt="Georges Medawar"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Georges Medawar</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Director of Business and Community Development</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/georges-medawar/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/almedawar/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="bogdan-fiedur" class="post-1280 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/09/bogdan-fiedur-150x150.jpg" alt="Bogdan Fiedur"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Bogdan Fiedur</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Full Stack Developer</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/bogdan-fiedur/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/bogdanfiedur/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="joshua-yabut" class="post-886 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2014/06/Joshua-Yabut-150x150.jpg" alt="Joshua Yabut"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Joshua Yabut</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">M.S., OSCP, OSCE</span><br>
              <span style="color: #fff;">Co-Founder &amp; Technical Lead</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/joshua-yabut/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/joshua-yabut-88616961/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="duncan-johnson" class="post-1648 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-team large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/duncan-johnson-feature-150x150.jpeg" alt="Duncan Johnson"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Duncan Johnson</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Community Development</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/duncan-johnson/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/duncan-johnson/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
    </div>
    <h2 style="text-align: center;">
      <span style="color: #ffffff;">Advisors</span>
    </h2>
    <p>&nbsp;</p>
    <div class="coll-shortcode-team row ">
      <article id="nemanja-nikitovic" class="post-1655 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-advisors large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Nemanja-Nikitovic-header-150x150.jpg" alt="Nemanja Nikitovic"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Nemanja Nikitovic</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Advisor</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/nemanja-nikitovic/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/nemanjanikitovic/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="yaroslav-belkin" class="post-1538 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-advisors large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Yaroslav-Belkin-header-150x150.jpg" alt="Yaroslav Belkin"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Yaroslav Belkin</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Advisor</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/yaroslav-belkin/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/ybelkin/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="scott-price" class="post-1520 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-advisors large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/scott-price-300x300-150x150.png" alt="Scott Price"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Scott Price</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Advisor, Founder and Chief Executive Officer of A-lign</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/scott-price/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/scott-price-cpa-cisa-cia-4348673/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
      <article id="jonathan-mohan" class="post-1268 coll-team type-coll-team status-publish has-post-thumbnail hentry coll-team-teams-advisors large-4 medium-6 small-12 columns" style="height: 382px;">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/09/jonathan-mohan-150x150.jpg" alt="Jonathan Mohan"></div>
          <div class="title">
            <h4 class="text" style="color : #ffffff">Jonathan Mohan</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Strategic Planning</span><br>
              <span style="color: #ffffff;">
                <strong>
                  <a href="https://auditchain.com/jonathan-mohan/">Bio</a>
                </strong>
              </span><br>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                style="font-size: 1em; width: 36px; height: 36px; border-radius: 50%; color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background: none;"
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/jonathanmohan/"
                target="blank"
                data-coll-color="#fff"
                data-coll-color-hover="#255c69"
                data-coll-border-color="#fff"
                data-coll-background-color-hover="#fff">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </article>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
