<!-- <section id="section-2">
  <#%= render 'team' %>
</section> -->
<!-- <section id="section-2"> -->
    <!-- <h1>Decentralized Continuous Audit &amp; <br>Reporting Protocol Ecosystem™</h1>
    <p>
      Auditchain, the reporting and disclosure framework for twenty first centery business has arrived! Auditchain is the world's first decentralized accounting, audit and real time reporting ecosystem for enterprise and token statistics.
      Auditchain, the reporting and disclosure framework for twenty first centery business has arrived! Auditchain is the world's first decentralized accounting, audit and real time reporting ecosystem for enterprise and token statistics.
    </p>
    <img src="" alt=""> -->
    <!-- <div class="countdown">
      <p>COUNTDOWN TO ICO</p>
      <span class="count-number" id="days"></span>
      <label>Days</label>
      <br>
      <span class="count-number" id="hours"></span>
      <label>Hours</label>
      <br>
      <span class="count-number" id="minutes"></span>
      <label>Minutes</label>
      <br>
      <span class="count-number" id="seconds"></span>
      <label>Seconds</label>
      <br>
      <div class="join-whitelist">
        <button><a href="#whitelist">JOIN THE WHITELIST</a></button>
        <span class="line"></span>
      </div>
    </div> -->
<!-- </section> -->

<!-- Above goes in pages/index -->

<div class="home-container">
  <div class="home-intro">
    <!-- <div class="pre-head">NO MATTER HOW FAR ALONG YOU</div> -->
      <h1 class="home-title">Team</h1>
        <!-- <div class="buttons">
          <button id="left-button"><a href="https://auditchain.com/wp-content/uploads/2017/10/Auditchain-Whitepaper.pdf">READ WHITE PAPER</a></button>
          <button id="right-button"><a href="#newsletter">NEWSLETTER</a></button>
        </div> -->
  </div>

  <%= render 'team_players' %>

  <!-- <div id="countdown">
    <div class="pre-head">COUNTDOWN ICO</div>

      <div class="counter" id="count-days">
        <span class="count-number" id="days">00 :</span>
        <label>Days</label>
      </div>

      <div class="counter" id="count-hours">
        <span class="count-number" id="hours">00 :</span>
        <label>Hours</label>
      </div>

      <div class="counter" id="count-miniutes">
        <span class="count-number" id="minutes">00 :</span>
        <label>Minutes</label>
      </div>

      <div class="counter" id="count-seconds">
        <span class="count-number" id="seconds">00</span>
        <label>Seconds</label>
      </div>

      <div class="join-container">
        <div class="join-button"><a href="#whitelist">JOIN THE WHITELIST</a></div>
        <span class="line"></span>
      </div>
  </div> -->
</div>
