<div class="section-content row ">
  <div class="entry-content columns">
    <!-- Team -->
    <div class="team-row ">
      <div>
        <div>
          <div>
            <img src="https://auditchain.com/wp-content/uploads/2017/09/jason-meyer-150x150.jpg" alt="Jason Meyers"></div>
          <div class="title">
            <h4 class="text" style="color: #fff;">Jason Meyers</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Co-Founder</span>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/jason-meyers-91a9693/"
                target="blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div id="paul-ostling">
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round"><img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Paul-Ostling-profile-150x150.jpg" alt="Paul Ostling"></div>
          <div class="title">
            <h4 class="text" style="color: #fff;">Paul Ostling</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Regulatory and Government Affairs</span>
            </p>
            <div class="coll-social-icon" style="padding:10px">
              <a
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/paul-ostling-393b9410/"
                target="blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Advisors -->
    <h2 style="text-align: center;">
      <span style="color: #ffffff;">Advisors</span>
    </h2>
    <div class="team-row">
      <div>
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round">
            <img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Nemanja-Nikitovic-header-150x150.jpg" alt="Nemanja Nikitovic">
          </div>
          <div class="title">
            <h4 class="text" style="color: #fff;">Nemanja Nikitovic</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Advisor</span>
            </p>
            <div class="coll-social-icon">
              <a
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/nemanjanikitovic/"
                target="blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </div>
        <div class="js-coll-inner">
          <div class="coll-image-wrapper round">
            <img class="image" src="https://auditchain.com/wp-content/uploads/2017/10/Yaroslav-Belkin-header-150x150.jpg" alt="Yaroslav Belkin">
          </div>
          <div class="title">
            <h4 class="text" style="color: #fff;">Yaroslav Belkin</h4>
          </div>
          <div class="content">
            <p>
              <span style="color: #fff;">Advisor</span>
            </p>
            <div class="coll-social-icon">
              <a
                class="js-coll-social-icon"
                href="https://www.linkedin.com/in/ybelkin/"
                target="blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
