<!-- style="margin-top: -95px;display: block;" -->
<div id="fp-nav" class="right">
  <ul>
    <li>
      <a href="#" class='active'>
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
  </ul>
</div>

<section id='section-1'>
    <p>NO MATTER HOW FAR ALONG YOU</p>
    <h1>Decentralized Continuous Audit and <br>Reporting Protocol Ecosystem&#8482;</h1>
    <div class='buttons'>
      <button><a href='https://auditchain.com/wp-content/uploads/2017/10/Auditchain-Whitepaper.pdf'>READ WHITE PAPER</a></button>
      <button><a href='#newsletter'>NEWSLETTER</a></button>
    </div>
    <div id='countdown'>
      <p>COUNTDOWN TO ICO</p>
      <!--   <span id='days'></span> : <span id='minutes'></span> : <span id='hours'></span> : <span id='minutes'></span> : <span id='seconds'></span>  -->
      <span id='days'></span>
      <label>Days</label>
      <br>
      <span id='hours'></span>
      <label>Hours</label>
      <br>
      <span id='minutes'></span>
      <label>Minutes</label>
      <br>
      <span id='seconds'></span>
      <label>Seconds</label>
      <br>
      <div class='join-whitelist'>
        <button><a href='#whitelist'>JOIN THE WHITELIST</a></button>
        <span class='line'></span>
      </div>
    </div>
</section>

<section id='section-2'>
    <h1>Decentralized Continuous Audit & <br>Reporting Protocol Ecosystem&#8482;</h1>
    <p>
      Auditchain, the reporting and disclosure framework for twenty first centery business has arrived! Auditchain is the world's first decentralized accounting, audit and real time reporting ecosystem for enterprise and token statistics.
      Auditchain, the reporting and disclosure framework for twenty first centery business has arrived! Auditchain is the world's first decentralized accounting, audit and real time reporting ecosystem for enterprise and token statistics.
    </p>
    <div id='countdown-2'>
      <p>COUNTDOWN TO ICO</p>
      <!--   <span id='days'></span> : <span id='minutes'></span> : <span id='hours'></span> : <span id='minutes'></span> : <span id='seconds'></span>  -->
      <span id='days'></span>
      <label>Days</label>
      <br>
      <span id='hours'></span>
      <label>Hours</label>
      <br>
      <span id='minutes'></span>
      <label>Minutes</label>
      <br>
      <span id='seconds'></span>
      <label>Seconds</label>
      <br>
      <div class='join-whitelist'>
        <button><a href='#whitelist'>JOIN THE WHITELIST</a></button>
        <span class='line'></span>
      </div>
    </div>
</section>
