<div id="fp-nav">
  <ul>
    <li>
      <a href="#" class="active">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
      </a>
    </li>
  </ul>
</div>

<section id="section-1">
  <%= render 'home' %>
</section>

<section id="section-2">
  <%= render 'team' %>
</section>
<!-- <section id="section-2"> -->
    <!-- <h1>Decentralized Continuous Audit &amp; <br>Reporting Protocol Ecosystem™</h1>
    <p>
      Auditchain, the reporting and disclosure framework for twenty first centery business has arrived! Auditchain is the world's first decentralized accounting, audit and real time reporting ecosystem for enterprise and token statistics.
      Auditchain, the reporting and disclosure framework for twenty first centery business has arrived! Auditchain is the world's first decentralized accounting, audit and real time reporting ecosystem for enterprise and token statistics.
    </p>
    <img src="" alt=""> -->
    <!-- <div class="countdown">
      <p>COUNTDOWN TO ICO</p>
      <span class="count-number" id="days"></span>
      <label>Days</label>
      <br>
      <span class="count-number" id="hours"></span>
      <label>Hours</label>
      <br>
      <span class="count-number" id="minutes"></span>
      <label>Minutes</label>
      <br>
      <span class="count-number" id="seconds"></span>
      <label>Seconds</label>
      <br>
      <div class="join-whitelist">
        <button><a href="#whitelist">JOIN THE WHITELIST</a></button>
        <span class="line"></span>
      </div>
    </div> -->
<!-- </section> -->
