@media only screen and (max-width: 830px) {
  #section-1 {
    h1 {
      font-family: 'Barlow';
      font-size: 31px !important;
      color: #FFFFFF;
      letter-spacing: -0.2px;
      line-height: 38px !important;
    }

  }
  .home-intro {
    margin-bottom: 30px !important;
  }
  .count-number {
    font-family: 'Barlow';
    font-size: 65px;
    color: #FFFFFF;
    letter-spacing: -0.48px;
  }
  .counter label {
    display: block;
    font-family: 'Barlow Condensed';
    font-weight: 500;
    text-transform: UPPERCASE !important;
    font-size: 14px;
    letter-spacing: 1.3px;
    color: #CBCED5 !important;
  }
}

@media only screen and (max-width: 550px) {
  #section-1 .home-container {
      padding: 130px 20px !important;
    }
  .count-number {
    font-family: 'Barlow';
    font-size: 49px !important;
    color: #FFFFFF !important;
    letter-spacing: -0.48px;
  }
  .counter {
    margin-right: 5px !important;
    label {
      display: block;
      font-family: 'Barlow Condensed' !important;
      font-weight: 500 !important;
      text-transform: UPPERCASE !important;
      font-size: 14px !important;
      letter-spacing: 1.3px;
      color: #CBCED5 !important;
    }
  }
  // h1.home-title {
  //   max-width: 400px;
  // }
  a .join-button {
    padding: 10px 20px 10px 30px !important;
    margin-left: -30px !important;
  }
}
