  header {
    position: relative;
    top: 2em;
    padding-bottom: 15%;
  }
  .main-menu {
    .logo {
      float: left;
    }
    ul {
      display: flex;
      justify-content: space-evenly;
      float: right;
      list-style-type: none;
      margin-top: 3.39%;
      li {
        margin-right: 10%;
      }
      // li:after {
      //   background-color: red;
      // }
      a {
        color: #ffffff;
      }
      a:after {
        background-color: red;
      }
    }
    .active {
      text-decoration: underline;
      text-decoration-color: #61c7a6;
    }
  }
