body {
  background-image: url('background.png')
}
.container {
  color: white;
  // position: relative;
  // top: 10em;

}

.innerTerms {
  border: 2px solid #318aa0;
  border-radius: 5px;
  background: #e9f5f8;
  padding: 3% 4%;
  max-height: 240px;
  overflow: auto;
  font-size: 1.07em;
}

.terms-text {
  padding-bottom: 2.5%;
}

.termsAndConditions {
  font-size: .9rem;
  color: #175a69;
  .childList {
      list-style: lower-alpha;
  }
  .stepIn {
      padding-left: 1em;
  }
}

.terms-form {
  input[type="submit"]{
    width: 100%;
  }
}
