<header>
    <!-- <div class="background"></div> -->

    <nav class="main-menu">
      <div class="logo coll-left">
        <!-- <a class="no-border" href="https://auditchain.com">
          <img class="" src="https://auditchain.com/wp-content/uploads/2017/09/logo-teal.png" title="" alt="Auditchain">
        </a> -->
        <a class="no-border" href="/">
          <!-- <img class="" src="https://auditchain.com/wp-content/uploads/2017/09/logo-teal.png" title="" alt="Auditchain"> -->
          <img src="https://auditchain.com/wp-content/uploads/2017/09/logo-white.png" alt="Auditchain logo">
        </a>
      </div>
      <ul>
        <li class="">
          <a class="active" href="/">HOME</a>
        </li>
        <li class="">
          <a class="" href="#about">ABOUT</a>
        </li>
        <li class="">
          <a class="" href="#tokens">TOKENS</a>
        </li>
        <li id="" class="">
          <a class="" href="#team">TEAM</a>
        </li>
        <li id="" class="">
          <a class="" href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
</header>
