<div class="site-header static">
    <div class="">
        <div class="logo coll-left">
            <a class="no-border" href="https://auditchain.com">
                                    <img class="logo-img" src="https://auditchain.com/wp-content/uploads/2017/09/logo-white.png" title="" alt="Auditchain">
                            </a>
        </div>
        <nav class="mainmenu  coll-right">
            <ul id="menu-main-menu-2" class="sf-menu sf-js-enabled sf-arrows"><li class="menu-item menu-item-type-post_type menu-item-object-coll-page-section menu-item-1109"><a class="js-coll-local-link" href="#the-product">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-coll-page-section menu-item-1110"><a class="js-coll-local-link" href="#ico">ICO</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-coll-page-section menu-item-1107"><a class="js-coll-local-link" href="#the-whitepaper">Documentation</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-coll-page-section menu-item-1108"><a class="js-coll-local-link" href="#the-team">Team</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-coll-page-section menu-item-1106"><a class="js-coll-local-link" href="#the-community">Community</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1017"><a class="no-border" href="https://auditchain.com/blog-2/">Blog</a></li>
</ul>        </nav>
    </div>
</div>
