<header class="" style="">
    <div class="background"></div>
    <div class="">
        <div class="logo coll-left">
            <a class="no-border" href="https://auditchain.com">
                                    <img class="" src="https://auditchain.com/wp-content/uploads/2017/09/logo-teal.png" title="" alt="Auditchain">
                            </a>
        </div>
        <nav class="mainmenu coll-right">
            <ul id="menu-main-menu" class="ico-menu"><li class=""><a class="" href="#the-product">About</a></li>
<li class=""><a class="" href="#ico">ICO</a></li>
<li class=""><a class="" href="#the-whitepaper">Documentation</a></li>
<li id="" class=""><a class="" href="#the-team">Team</a></li>
<li id="" class=""><a class="" href="#the-community">Community</a></li>
<li id="" class=""><a class="" href="#blog">Blog</a></li>
</ul>        </nav>

    </div>
</header>
