<header>
  <div class="header-container">
  <div class="nav-bar">
    <nav class="main-menu">
     <div class="logo coll-left">
        <img src="https://auditchain.com/wp-content/uploads/2017/09/logo-white.png" alt="Auditchain logo">

      </div>
      <ul>
        <li class="">
          <a class="active" href="/">HOME</a>
        </li>
        <li class="">
          <a class="" href="#about">ABOUT</a>
        </li>
        <li class="">
          <a class="" href="#tokens">TOKENS</a>
        </li>
        <li id="" class="">
          <a class="" href="#team">TEAM</a>
        </li>
        <li id="" class="">
          <a class="" href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</header>
